<div>
  <div class="profile-detail">
    <h3>{{user.name}}</h3>
    <p>{{user.address.street}}, {{user.address.suite}}</p>
    <p>{{user.address.city}}, {{user.address.zipcode}}</p>
    <p>{{user.phone}}</p>
    <p>{{user.email}}</p>
  </div>
  <ul>
    <li ng-repeat="post in posts">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
      <ul>
        <li ng-repeat="comment in post.comments">
          <h4>{{comment.title}}</h4>
          <p>{{comment.body}}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
