<div ng-controller="UserController">
  <div class="profile-detail">
    <h3>{{user.name}}</h3>
    <span>{{user.address.street}}, {{user.address.suite}}</span>
    <span>{{user.address.city}}, {{user.address.zipcode}}</span>
    <span>{{user.phone}}</span>
    <span>{{user.email}}</span>
  </div>
  <ul>
    <li ng-repeat="post in posts">
      <span>{{post.title}}</span>
      <p>{{post.body}}</p>
      <ul>
        <li ng-repeat="comment in post.comments">
          <span>{{comment.email}}</span>
          <p>{{comment.body}}</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
